<div class="container mt-5">
    <h2 class="text-center mb-4">Detalle de Peticiones</h2>


    <div class="card">
        <div class="row">


            <div class="col-md-9">
                <div class="card-body">
                    <h6 class="card-text mb-2 ">{{ peticion.titulo }}</h6>

                    <div>
                  
                        <img width="200px;" src={{image}} alt="imagen">
                        
                    </div>
                    <div>
                        <strong>Descripción</strong>
                        <p class="card-text">{{ peticion.descripcion }}</p>
                    </div>

                    <div>
                        <strong>Destinatarios</strong>
                        <p class="card-text">{{ peticion.destinatario }}</p>
                    </div>

                    <div>
                        <strong>estado</strong>
                        <p class="card-text">{{ peticion.estado }}</p>
                    </div>

       
                    <div>
                        <strong>Categoria</strong>
                        <p class="card-text">{{ categoria }}</p>
                    </div>

                  
                    <div>
                        <strong>Firmantes</strong>
                        <p class="card-text">{{ peticion.firmantes }} <strong>han firmado esta petición</strong></p>
                    </div>
                    <button  [routerLink]="['/peticion/index']" type=button (click)=firmar(id,peticion) class="btn btn-info">Firmar</button>
                  
                    
                </div>

            </div>
        </div>
    </div>
</div>